<p>
  <b>Name:</b>
  <%=h @room.name %>
</p>

<p>
  <b>Creator:</b>
  <%=h @room.creator %>
</p>

<p>
  <b>Members:</b>
  <%=h @room.members %>
</p>

<p>
  <b>Turn:</b>
  <%=h @room.turn %>
</p>

<p>
  <b>Capacity:</b>
  <%=h @room.capacity %>
</p>

<p>
  <b>Password:</b>
  <%=h @room.password %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>